{% extends 'base.html' %}

{% block title %}
个人主页
{% endblock %}
{% block body %}
<div id="pic" style="background-color: paleturquoise; ">
    <image src="./static/images/company.png" width="400px" height="100px" ></image>
        <input class="search_text" type="search" placeholder="           请输入需要搜索的职位" aria-label="Search" name="keyword" value={{keyword}}>
        <input class ="search_button" type="submit" value="搜索">
</div>
<div >
    <br><br><br>
    <div><h2>热门岗位</h2></div>
    <br><br>
    <ul>
        <li>
            <h4>后端开发</h4>
            <br>
            <div class="text1">
                <div class="job">
                <a href="www.baidu.com">Java</a>
                </div>
                <div class="job">
                <a href="www.baidu.com">C/C++</a>
                </div>
                <div class="job">
                <a href="www.baidu.com">PHP</a>
                </div>
                <div class="job">
                <a href="www.baidu.com">Python</a>
                </div>
                <div class="job">
                <a href="www.baidu.com">C#</a>
                </div>
                <div class="job">
                <a href="www.baidu.com">.NET</a>
                </div>
                <div class="job">
                <a href="www.baidu.com">Golang</a>
                </div>
                <div class="job">
                <a href="www.baidu.com">Node.js</a>
                </div>
                <div class="job">
                <a href="www.baidu.com">Hadoop</a>
                </div>
                <div class="job">
                <a href="www.baidu.com">语音/视频/图形开发</a>
                </div>
                <div class="job">
                <a href="www.baidu.com">GIS工程师</a>
                </div>
                <div class="job">
                <a href="www.baidu.com">全栈工程师</a>
                </div>
            </div>
        </li>
        <br>
        <li>
            <h4>前端/移动开发</h4>
            <br><br>
            <div class="text2">
                <div class="job">
                <a ka="" href="">前端开发工程师</a>
                </div>
                <div class="job">
                <a ka="" href="">Android</a>
                </div>
                <div class="job">
                <a ka="" href="">iOS</a>
                </div>
                <div class="job">
                <a ka="" href="">U3D</a>
                </div>
                <div class="job">
                <a ka="" href="">UE4</a>
                </div>
                <div class="job">
                <a ka="" href="">Cocos</a>
                </div>
                <div class="job">
                <a ka="" href="">技术美术</a>
                </div>
                <div class="job">
                <a ka="" href="">JavaScript</a>
                </div>
            </div>
        </li>
    </ul>
</div>
<br><br>
<div style="height: 300px;">
    <h2>个人评估</h2>
</div>
<br><br>
<div>
    <h2>推荐岗位
    </h2>
</div>
<div class="container">  
    <div class="row" style="margin-top: 20px;">  
        <div class="col"></div>  
        <div class="col-10">  
            {% if results %}  
            <ul class="position-ul">  
                {% for result in results %}  
                <li>  
                    <div class="side-position">  
                        <img class="side-position-avatar" src="data/pictures/admin/{{result.admin.filepath}}" alt="">  
                    </div>  
                    <div class="position-main">  
                        <div class="position-title"><a href="/position_detail_action?position_id={{result.id}}">{{result.position_name}}</a></div>  
                        <div class="position-content">公司: {{result.company}}<br>月薪:{{result.salary}}</div>  
                        <div class="position-detail">  
                            <span class="position-author"></span>  
                            <span class="position-time">{{result.release_time}}</span>  
                        </div>  
                    </div> 
                </li>  
                <br>
                {% endfor %}  
            </ul>  
            {% endif %}  
  
            <!-- 分页控件 -->  
            {% set page_length=6 %}

            {% if page<=3 %}
                {% set min_page=1 %}
            {% else %}
                {% set min_page = page-2 %}
            {% endif %}

            {% if min_page+page_length>total_pages %}
                {% set page_length = total_pages - min_page + 1 %}
            {% endif %}

            <div class="pagination">  
                {% if page > 1 %}  
                    <a href="?page={{page-1}}&keyword={{keyword}}" class="pagination-link">上一页</a>  
                {% endif %}  
                {% for p in range(min_page,min_page+page_length) %}  
                    {% if p == page %}  
                        <span class="pagination-link active">{{p}}</span>  
                    {% else %}  
                        <a href="?page={{p}}&keyword={{keyword}}" class="pagination-link">{{p}}</a>  
                    {% endif %}  
                {% endfor %}  
                {% if page < total_pages %}  
                    <a href="?page={{page+1}}&keyword={{keyword}}" class="pagination-link">下一页</a>  
                {% endif %}  
            </div>
        </div>  
        <div class="col"></div>  
    </div>  
</div>
{% endblock %}
