{% extends 'base.html' %}

{% block title %}
个人主页
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{url_for('static',filename='/css/index.css')}}">
{% endblock %}
{% block body %}
<div id="pic" style="background-color: paleturquoise; ">
    <image src="./static/images/company.png" width="400px" height="100px" ></image>
    <form action='/' method='GET'>
        <input class="search_text" type="search" placeholder="请输入需要搜索的职位" aria-label="Search" name="keyword" value={{keyword}}>
        <input class ="search_button" type="submit" value="搜索">
    </form>
</div>
<div class="sidebar">
    <ul>
        <li>
            <h4 style="display: flex; justify-content: center; align-items: center;">热门岗位</h4>
        </li>
        <li>
            <p>后端开发</p>
            <span>></span>
            <div class="sidebar-mask">
                <div>
                    <label style="font-size: 20px;">后端开发</label>
                </div>
                <a target="_blank" href="">java</a>
                <a target="_blank" href="">C/C++</a>
                <a target="_blank" href="">PHP</a>
                <a target="_blank" href="">Python</a>
                <a target="_blank" href="">Golang</a>
                <a target="_blank" href="">C#</a>
            </div>
        </li>
        <li>
            <p>前端开发</p>
            <span>></span>
            <div class="sidebar-mask">
                <div>
                    <label>前端开发</label>
                </div>
                <a target="_blank" href="">IOS</a>
                <a target="_blank" href="">Android</a>
                <a target="_blank" href="">JS</a>
                <a target="_blank" href="">VUE</a>
                <a target="_blank" href="">前端开发实习生</a>
                <a target="_blank" href="">前端开发工程师</a>
            </div>
        </li>
        <li>
            <p>前端开发</p>
            <span>></span>
            <div class="sidebar-mask">
                <div>
                    <label>教育培训</label>
                </div>
                <a target="_blank" href="">IOS</a>
                <a target="_blank" href="">Android</a>
                <a target="_blank" href="">JS</a>
                <a target="_blank" href="">VUE</a>
                <a target="_blank" href="">前端开发实习生</a>
                <a target="_blank" href="">前端开发工程师</a>
            </div>
        </li>
    </ul>
</div>

<br><br>
<div style="height: 300px;">
    <h2>个人评估</h2>
</div>
<br><br>
<div>
    <h2>推荐岗位
    </h2>
</div>
<div class="container">  
    <div class="row" style="margin-top: 20px;">  
        <div class="col"></div>  
        <div class="col-10">  
            {% if results %}  
            <ul class="position-ul">  
                {% for result in results %}  
                <li>  
                    <div class="side-position">  
                        <img class="side-position-avatar" src="data/pictures/admin/{{result.admin.filepath}}" alt="">  
                    </div>  
                    <div class="position-main">  
                        <div class="position-title"><a href="/position_detail_action?position_id={{result.id}}">{{result.position_name}}</a></div>  
                        <div class="position-content">公司: {{result.company}}<br>月薪:{{result.salary}}</div>  
                        <div class="position-detail">  
                            <span class="position-author"></span>  
                            <span class="position-time">{{result.release_time}}</span>  
                        </div>  
                    </div> 
                </li>  
                <br>
                {% endfor %}  
            </ul>  
            {% endif %}  
  
            <!-- 分页控件 -->  
            {% set page_length=6 %}

            {% if page<=3 %}
                {% set min_page=1 %}
            {% else %}
                {% set min_page = page-2 %}
            {% endif %}

            {% if min_page+page_length>total_pages %}
                {% set page_length = total_pages - min_page + 1 %}
            {% endif %}

            <div class="pagination">  
                {% if page > 1 %}  
                    <a href="?page={{page-1}}&keyword={{keyword}}" class="pagination-link">上一页</a>  
                {% endif %}  
                {% for p in range(min_page,min_page+page_length) %}  
                    {% if p == page %}  
                        <span class="pagination-link active">{{p}}</span>  
                    {% else %}  
                        <a href="?page={{p}}&keyword={{keyword}}" class="pagination-link">{{p}}</a>  
                    {% endif %}  
                {% endfor %}  
                {% if page < total_pages %}  
                    <a href="?page={{page+1}}&keyword={{keyword}}" class="pagination-link">下一页</a>  
                {% endif %}  
            </div>
        </div>  
        <div class="col"></div>  
    </div>  
</div>
{% endblock %}
