{% extends 'base.html' %}  
{% block title %}
    登录界面
{% endblock %} 
{% block style %}
    <link rel='stylesheet' href='{{url_for('static',filename='/css/login.css')}}'> 
    
    <script src='{{url_for('static',filename='/js/jquery.min.css')}}'> </script>
{% endblock %}
{% block body %}  
<body class="container2">

<input type="checkbox" id="a12" hidden>
<i class="indicator"></i>
<label class="c2" for="a12"></label>
<div id="container" class="dark">
    <div class="bg"></div>
    <div class="moon-box">
        <div class="moon"></div>
    </div>
    <div class="sun-box">
        <div class="sun"></div>
    </div>
    <div class="sea"></div>
</div>

<div class="login_container"> 
    <div class="tit">login</div> 
    <form id="loginForm" action='/login' method='POST'>  
        <select id="type" name="type">  
            <option value="user">求职者</option>  
            <option value="admin">招聘者</option>  
        </select>
        <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder='邮箱' required>
	</div>
    <div class="form-group">   
        <input type="password" id="password" name='password' placeholder="密码" required>
    </div>  
            <div class="form-group" id="login">  
                <input type="hidden" name='page'>  
                <input id="login_button" type="submit" value="登录">  
            </div>  
    </form>  
        <p><a href="/forgot_password">忘记密码?</a></p>
        <div id="errorMessage" class="error-message"></div>
</div>   
<script>
    function checkPassword() {
        const passwordInput = document.getElementById("password").value;
        const correctPassword = "correct_password"; 

        if (passwordInput === correctPassword) {
            return true;
        } else {
            const errorMessageElement = document.getElementById("errorMessage");
            errorMessageElement.textContent = "密码输入错误，请重试。";
            return false;
        }
    }

    document.getElementById("loginForm").addEventListener("submit", checkPassword);
</script>
</body>
{% endblock %}