{% extends 'base.html' %}

{% block title %}
详细信息
{% endblock %}

{% block style %}
<link rel='stylesheet' href='{{url_for('static',filename='/css/position_detail.css')}}'>
{% endblock %}

{% block body %}
<div class="position_container">  
    <div class="row" style="margin-top: 20px;">  
        <ul class="position-ul1">  
            <li>  
                <div class="side-position">  
                    <img class="side-position-avatar" src="data/pictures/admin/{{position.admin.filepath}}" alt="">  
                </div>  
                <div class="position-main">  
                    <div class="position-title-detail">公司名称: {{position.company}}</div>  
                    <div class="position-content-detail">
                        <b>职位: </b>{{position.position_name}}<br>
                        <b>月薪: </b>{{position.salary}}<br>
                        <b>最低学历: </b>{{position.education}}<br>
                        <b>说明: </b>{{position.description}}    <br>
                        <b>地址: </b>{{position.address}}    <br>
                    </div>  
                </div>  
            </li> 
        </ul>
    </div>
    {% if g.user and g.type=='user' %} 
        <center><form action='/send_resume' method='POST'>
            <input type="hidden" name="position_id" value="{{position.id}}">
            <input type="submit" class="resume" value="投递简历"> 
        </form></center>
    {% endif %} 
</div>
<br><br>
<div class='comment_container'>
    <div class="row" style="margin-top: 20px;">  

        {% if g.user and g.type=='user'%}  
            <form name="commentForm" action="/position_comment?keyword={{keyword}}&page={{page}}&position_id={{position_id}}" method="POST" class="comment">  
                <input type="hidden" name="keyword" value="{{keyword}}">  
                <input type="hidden" name="page" value="{{page}}">  
                <input type="hidden" name="position_id" value="{{position.id}}">  

                <div class="comment-input">  
                    <label for="content" style="font-size: 20px;">留言:</label>  
                    <input type="text" id="content" name="content" required>   

                <class="submit-button">  
                    <input type="submit"  value="留言">  
                </div>  
            </form>  
            
        {% endif %}  
        <br>
        </div>

        <form name="returnForm" action="/?keyword={{keyword}}&page={{page}}" method="GET">  
            <input type="hidden" name="keyword" value="{{keyword}}">  
            <input type="hidden" name="page" value="{{page}}">  
        </form>

        <ul class="position-ul2"> 
            {% for comment in comments %}  
            <li>  
                <div class="side-position2">  
                    <img class="side-position2-avatar" src="data/pictures/user/{{comment.user.filepath}}">  
                </div>  
                <div class="position-main">  
                    <div class="position-title">{{comment.user.username}}</a></div>  
                    <div class="position-content">{{comment.content}}</div>  
                    <div class="position-detail">  
                        <span class="position-author"></span>  
                        <span class="position-time">{{comment.time}}</span>  
                    </div>  
                </div>  
            </li>  
            <br>
            {% endfor %} 
        </ul>

</div>
{% endblock %}