{% extends 'base.html' %}

{% block title %}
个人简历
{% endblock %}

{% block style %}
<link rel='stylesheet' href='{{url_for('static',filename='/css/resume.css')}}'>
{% endblock %}

{% block body %}

<div class="resume_container"> 
    <h4 style="text-align: left;">上传简历</h4>
    <form name="form" method="POST" action="/upload" enctype="multipart/form-data">  
        <input type="file" name="file_name">  
        <input type="submit" id="submit_button" value="上传">  
    </form> 
    <br>
    <form name="form" action="/resume" method="POST"> 
        <h1 style="text-align: center;">个人简历</h1> 
        <br>
        <h2 style="text-align: left; color: dodgerblue;">个人信息</h2>
        <div class="a2" style="height: 2px;
        width: 100%;
        background-color:deepskyblue;
        margin-left: 20px;
        margin-top: 5px;"></div>
        <br>
        <div class="row">  
            <div class="label">姓名:</div>
            <div class="input-wrapper"><input type="text" id="name" name="name" value="{{resume.name}}"> </div>
            <div class="label">年龄:</div>  
            <div class="input-wrapper"><input type="number" id="age" name="age" value="{{resume.age}}"> </div> 
        </div>  

        <div class="row">  
            <div class="label">性别:</div> 
            <div class="input-wrapper"> 
            <select id="gender" name="gender">  
                <option value="男" {% if resume.gender == '男' %} selected {% endif %}>男</option>  
                <option value="女" {% if resume.gender == '女' %} selected {% endif %}>女</option>  
            </select> 
        </div>

            <div class="label">婚姻:</div>  
            <div class="input-wrapper">
            <class="input-wrapper">
            <select id="marriage" name="marriage">  
                <option value="未婚" {% if resume.marriage == '未婚' %} selected {% endif %}>未婚</option>  
                <option value="已婚" {% if resume.marriage == '已婚' %} selected {% endif %}>已婚</option>  
            </select> 
        </div>
            
        </div>

        <div class="row">  
            <div class="label">手机号:</div>  
            <div class="input-wrapper"><input type="text" pattern="[0-9]{11}" id="phone" name="phone" value="{{resume.phone}}"> </div> 
            <div class="label">邮件:</div>
            <div class="input-wrapper"><input type="email" id="email"  name="email" value="{{resume.email}}"> </div>
        </div>   
        
        <div class="row">
            <div class="label">学历:</div>
            <div class="education"><input type="text" id="education" name="education" value="{{resume.education}}"></div>
        </div>
        <br>
        
        <h2 style="text-align: left; color: dodgerblue;">期望职位</h2>
        <div class="a2" style="height: 2px;
        width: 100%;
        background-color:deepskyblue;
        margin-left: 20px;
        margin-top: 5px;"></div>
        <br>

        <div class="row"> 
            <div class="label">求职意向:</div>
            <div class="input-wrapper"><input type="text" id="expect_position" name="expect_position" value="{{resume.expect_position}}"> </div> 
            <div class="label">期望月薪:</div>  
            <div class="input-wrapper"><input type="number" id="expect_salary" name="expect_salary" value="{{resume.expect_salary}}"> </div> 
        </div>  

        <div class="row">
            <div  class="label">期望地址:</div>
            <div  class="input-wrapper"><input type="text" id="living_address" name="expect_address" value="{{resume.expect_address}}"> </div>
        </div>  
        <br>
        <h2 style="text-align: left; color: dodgerblue;">个人优势</h2>
        <div class="a2" style="height: 2px;
        width: 100%;
        background-color:deepskyblue;
        margin-left: 20px;
        margin-top: 5px;"></div>
        <br>

        <div class="row">
            <div class="label">工作经历:</div>
            <div class="input-text"><textarea type="text" id="experience" name="experience">{{resume.experience}}</textarea></div>
        </div>  
        <br>
        <div class="row">
            <div class="label">专业技能:</div>
            <div class="input-text"><textarea type="text" id="abilities" name="abilities">{{resume.abilities}}</textarea></div>
        </div>  
        <br>
        <div class="row">
            <div class="label">个人优势:</div>
            <div class="input-text"><textarea type="text" id="about_me" name="about_me">{{resume.about_me}}</textarea></div>
        </div> 
        <br>
        <center><input type="submit" value="保存"></center>  
    </form>  
    
</div>  
{% endblock %}