{% extends 'base.html' %}

{% block title %}
已投简历
{% endblock %}

{% block style %}
<link rel='stylesheet' href='{{url_for('static',filename='/css/sended.css')}}'>
<style>
    
</style>
{% endblock %}

{% block body %}
    <div class="row" style="margin-top: 20px;"> 
        <p class="text">已投递的简历</p>
        <div class="col-10">  
            {% if sended_resumes %}  
            <ul class="position-ul">  
                {% for sended_resume in sended_resumes %}  
                <li>  
                    <div class="side-position">  
                        <img class="side-position-avatar" src='/data/pictures/admin/{{sended_resume.position.admin.filepath}}' alt="随便用的头像">  
                    </div> 
                    <div class="position-main">  
                        <div class="position-title"><a href='/position_detail_action?position_id={{sended_resume.position.id}}&keyword={{keyword}}'><strong>职位名称:{{sended_resume.position.position_name}}</strong></a></div>  
                        <div class="position-content">公司: {{sended_resume.position.company}}<br>月薪:{{sended_resume.position.salary}}
                        <br>学历要求:{{sended_resume.position.education}}<br>地址:{{sended_resume.position.address}}<br>补充说明:{{sended_resume.position.description}}</div>  
                        <div class="position-detail"> 
                            {% if sended_resume.status == 'waiting' %}
                                待回复
                            {% elif sended_resume.status == 'accept' %}
                                已被接收
                            {% elif sended_resume.status == 'refuse' %}
                                已被拒绝
                            {% else %}
                                出错! '不明确'
                            {% endif %}
                            {% if sended_resume.position.public == 0%}
                                招聘已截止
                            {% endif %}
                            <span class="position-author"></span>   
                            <span class="position-time">{{sended_resume.send_time}}</span>  
                            
                        </div>  
                        
                    </div>  
                </li>  
                <br>
                {% endfor %}  
            </ul>  
            {% else %}
            无
            {% endif %}  
        </div>
    </div>
{% endblock %}